<a href="https://colab.research.google.com/github/habib671/ai_lab_task/blob/main/Pyhton_lab_1_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Learning Python in Easy Way <3**

In [1]:
print("hello Habib, You better keep learning python");

hello Habib, You better keep learning python

**VARIABLES IN PYTHON**

In [4]:
i=6;
print(type(i));
f=3.9;
print(type(f));
b=True;
print(type(b));
str="I have a book!";
print(type(str));
print(str);

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
I have a book!

**ADVANCED PYTHON TYPES**

In [8]:
#LIST
my_list=[];
print(my_list);
my_list=[1,2,3,3.1416,'Habib','Rabbani'];
print(my_list);

[]
[1, 2, 3, 3.1416, 'Habib', 'Rabbani']

In [15]:
#DICTIONARY

my_dictionary={
    "name" : "MD AHsan habib",
    "id" : '181-15-1907',
    "cgpa" : 3.92,
    "sec" :"PC-D",
}
print(my_dictionary);
print(my_dictionary['id']);
print('My ID IS: '+my_dictionary['id'])

{'name': 'MD AHsan habib', 'id': '181-15-1907', 'cgpa': 3.92, 'sec': 'PC-D'}
181-15-1907
My ID IS: 181-15-1907

In [17]:
#NONE TYPE

n =None;
print(n);
print(type(n));

None
<class 'NoneType'>

**ADVANCED PRINTING**

In [21]:
print("Here intege value is %f and float value is %s:" %(i,f));

Here intege value is 6.000000 and float value is 3.9:

**CONDITIONAL STATEMENT**

In [22]:
if i==2 and f>3 :
  print('The value is 2 and the value of f is greater than 3');
elif i>5 and f>5:
  print('both i and f is greater than 5');
else:
  print('Both i and f is less than 5');

Both i and f is less than 5

**LOOPS**

In [23]:
print(my_list);

[1, 2, 3, 3.1416, 'Habib', 'Rabbani']

In [24]:
for item in my_list:
  print(item);

1
2
3
3.1416
Habib
Rabbani

In [26]:
counter =1;
while counter<=10:
  print(counter);
  counter+=1;

1
2
3
4
5
6
7
8
9
10

**CREATING FUNCTION**

In [27]:
def myFunc():
  print("This is a dummy function");
myFunc();

This is a dummy function

In [28]:
def square(x):
  sq = x*x;
  return sq;

myFunc();

This is a dummy function

In [30]:
value = square(5);
print(value);

x=10;
print(square(x));

25
100

In [32]:
def sum(x,y):
  z= x+y;
  return z;

In [34]:
print("Calling function sum: ");
print(sum(3,4));

Calling function sum:
7

**USE BUILT IN FUNCTION**

In [35]:
name = "Habib"
age=25
print('My name is ',name,'and I am',age,'years old')

My name is  Habib and I am 25 years old

In [39]:
#append(), #pop(), #remove()
numbers = [1,2,3,4,5,]
numbers.append(10)
print(numbers)
numbers.pop()
print(numbers)
numbers.remove(2)
print(numbers)

[1, 2, 3, 4, 5, 10]
[1, 2, 3, 4, 5]
[1, 3, 4, 5]

In [44]:
def print_in_square(numbers):
  for number in numbers:
    if number>=3:
      squared =number*number
      print(squared)

numbers = [1,2,3,4]
print_in_square(numbers)

9
16